.edit-wrape
  .pop-black
    .pop-mount
      .pop-review-head
        .pop-review-head-left
          .pop-review-head-left__message
        .pop-review-head-right
          .pop-review-head-right__btn
            %input{ name: "戻る", class: "return-edit-btn", value: "戻る" , type: "submit" }
      .pop-review-field
        -# = form_tag("", method: :patch, id: "edit-form") do
        = form_with  model: @bookreview, local: true do |f|
          .pop-review
            .pop-review-top
              .pop-review-top-left
                .pop-review-top-left__user
                  %img(src="" alt="ユーザーの画像" class="detail_user")
              .pop-review-top-middle
                .pop-review-top-middle__symbol
                  ×
              .pop-review-top-right
                #pop-review-image
                  %img(src="" alt="本の画像" class="detail_book")
            .pop-review-middle         
              .pop-review-middle__rate 
                = f.select :rate, options_for_select(@shelf_name.map{|c|[c[:name], c[:id]]}), {name: 'book_review[rate]'}, {class: 'book_review_rate', id: 'book_review_rate'}
              .pop-review-middle__title
                = f.text_field :review_title
              .pop-review-bottom-text
                = f.text_area :review
              .pop-review-bottom-btn-edit
                = f.submit "この内容で更新する", class: "updata-review-sub"



-#  detailpopから編集ボタンからのpopupページ
-# inputの初期値にはjqueryからdata属性で引っ張ってきた値をvalueに入れて表示させる
-# 更新ボタンはmethodをpatch、pathはbook_reviewsコントローラのupdateに飛ばす