.left-wrap
  .left-column
    .user-top
      .user-top__image
        - if current_user.image_url.present?
          = image_tag current_user.image_url.url, class: 'user-thumbnail' 
        - else
          = image_tag 'i_flu_g.png', class: 'user-thumbnail'
      .user-top__name
        = current_user.name
      .user-top__introduction
        = simple_format(current_user.introduction)     
    .contents-mypage-box
      %a{:href => "/users/#{current_user.id}", class: "user-btn"}         
        MY PAGE
    .user-bottom
      .status-top
        ステータス
      .user_review_count
        レビュー数 : 
        = @user_reviews.count
        本
      .user_likes_count
        総インフル数 : 
        = @user_reviews.all.sum(:likes_count)
        フル    