- @reviews.each do |review|
  .new-review-field
    .new-review
      .new-review-top
        .new-review-top-left
          .new-review-top-left__user
            - if review.user.image_url.present?
              %a{:href => "/users/#{review.user.id}", class: "user-btn"} 
                = image_tag "#{review.user.image_url}", class: 'user-thumbnail'
            - else
              %a{:href => "/users/#{review.user.id}", class: "user-btn"} 
                = image_tag 'i_flu_g.png', class: 'thumbnail'
        .new-review-top-middle
          .new-review-top-middle__symbol
            ×
        .new-review-top-right
          .new-review-top-right__book
            %img(src="#{review.image_url}" alt="本の画像" class="book-thumbnail")
      .new-review-middle
        .new-review-middle__title
          = review.review_title
      .new-review-bottom
        クリックすると詳細レビューが読めます
        .new-review-text-area
          .new-review-text-area__cont
            = simple_format(review.review)