-# books_controllerのsearchアクションより
.wrapper
  .header-field  
    = render 'header'

    = render 'popup'

  .contents
    = render 'left_contents'

    = render 'books_search'  

    = render 'right_contents'

  .footer