<div class="sign-edit-wrape">
  <div class="sign-edit-mount">
    <div class="sign-edit-logo">ユーザー情報編集</div>
    <div class="sign-edit-field">
      <div class="sign-edit-field-wrape">
        <div class="sign-edit-page">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="sign-input-field-name">
              <div class="sign-input-field-name__label">
                <%= f.label :name %><br />
              </div>
              <div class="sign-input-field-name__text">
                <%= f.text_field :name %>
              </div>
            </div>

            <div class="sign-input-field-image">
              <div class="sign-input-field-image__label">
                <%= f.label :image_url %><br />
              </div>
              <div class="sign-input-field-image__text">
                <%= f.file_field :image_url %>
              </div>
            </div>

            <div class="sign-input-field-intro">
              <div class="sign-input-field-intro__label">
                <%= f.label :introduction %><br />
              </div>
              <div class="sign-input-field-intro__text">
                <%= f.text_area :introduction %>
              </div>
            </div>

            <div class="sign-input-field-email">
              <div class="sign-input-field-email__label">
                <%= f.label :email %><br />
              </div>
              <div class="sign-input-field-email__text">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="sign-input-field-pass">
              <div class="sign-input-field-pass__label">
                <%= f.label :password %><br />
                <i>(変更しない場合は空白のままにします)</i><br />
              </div>
              <div class="sign-input-field-pass__text">
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上" %>
              </div>
            </div>

            <div class="sign-input-field-passc">
              <div class="sign-input-field-passc__label">
                <%= f.label :password_confirmation %><br />
              </div>
              <div class="sign-input-field-passc__text">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"6文字以上" %>
              </div>
            </div>

            <div class="sign-input-field-current">
              <div class="sign-input-field-current__label">
                <%= f.label :current_password %> <i>(変更するには現在のパスワードが必須です)</i><br />
              </div>
              <div class="sign-input-field-current__text">
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
            </div>

            <div class="sign-btn-field">
              <%= f.submit "更新する" %>
            </div>

          <% end %>
        </div>
        <div class="cancel-account">
          アカウントを削除しますか？ 
          <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
        <div class="login-return">
          <%= link_to "一つ前に戻る", :back, class:"back-text" %>
        </div> 
      </div> 
    </div>      
  </div>
</div>
