.left-wrap
  .left-column
    .user-top
      .user-top__intro
        = fa_icon 'book', alt: 'bars', class: 'book-icon' 
        = @user.name
        さんの本棚
      .user-top__image
        - if @user.image_url.present?
          = image_tag @user.image_url.url, class: 'user-thumbnail' 
        - else
          = image_tag 'i_flu_g.png', class: 'user-thumbnail'
      .user-top__name
        = @user.name
      .user-top__introduction
        = simple_format(@user.introduction)
    - if current_user.id.to_i == @user.id
      .contents-mypage-box
        = link_to "/users/#{@user.id}/edit", class: "contents-mypage-box__btn" do
          EDIT
    .user-bottom
      .status-top
        ステータス
      .user_review_count.status-title
        レビュー数
      .status-text
        = @user_reviews.count
        本
      .user-new-book-title.status-title
        最新の既読本
      .user-new-book-name.status-text
        - if @other_new_review.present?
          = @other_new_review.book_title
          %p
          = @other_new_review.author
        - else 
          まだ読まれた本はありません
      .user-book-shelf-title.status-title
        本棚の名前
      .user-book-shelf-name.status-text
      %p.status-text
        = @user.shelfa
      %p.status-text
        = @user.shelfb
      %p.status-text
        = @user.shelfc
      %p.status-text
        = @user.shelfd
      - if @shelf_add_name.present?
        %p.status-text
          = @shelf_add_name.name