.left-wrap
  .left-column
    .user-top
      .user-top__image
        - if @user.image_url.present?
          = image_tag @user.image_url.url, class: 'user-thumbnail' 
        - else
          = image_tag 'i_flu_g.png', class: 'user-thumbnail'
      .user-top__name
        = @user.name
      .user-top__introduction
        = simple_format(@user.introduction)
    - if current_user.id.to_i == @user.id
      .contents-mypage-box
        = link_to '/users/edit', class: "contents-mypage-box__btn" do
          EDIT
    .user-bottom
      .status-top
        ステータス
      .user_review_count
        レビュー数 : 
        = @user_reviews.count
        本
      .user_likes_count
        総インフル数 : 
        = @user_reviews.all.sum(:likes_count)
        フル    