.user-result-field
  .user-field-wrap
    - if @users.present?
      - @users.each do |user|
        = form_tag(" /users/search", method: :get) do       
          .user-field
            .user-result-top
              .user-result-top__image
                %a{:href => "/users/#{user.id}", class: "user-btn"} 
                  = image_tag user.image_url.url, class: 'user-result-top__image--thumbnail' 
                
            .user-result-middle
              .user-result-middle__name
                = user.name
            .user-result-bottom
              Rede More
              .hidden-area
                .hidden-text
                  = user.introduction