.wrapper
  .header-field
    .header-position
      = render 'book_reviews/header'

  .contents-field
    .contents
      = render 'book_reviews/left_contents'

      .main-wrap
        .main-column
          = render 'user_search' 
          = render 'user_result'  
          = render 'detail_pop'

      = render partial: 'user_right', locals:{ book_review: @ranking_reviews}

  .footer
    .footer-btn 
      %p.footer-info 注意書き・お問い合わせ情報
      .footer-hidden
        .footer-text
          %p.footer-text--bold ごあいさつ
          %p.footer-text--padding サイトに遊びに来ていただいてありがとうございます！Readory(リードリー)はプログラミング勉強中の開発者による、現在も開発中のサービスです。至らないところもあると思いますが、何卒ご了承ください。
          %p.footer-text--bold お問い合わせはこちらのurlからお願いします。http://sunao-products.com/otoiawase
          %p.footer-text--padding 開発者の個人サイトで使っている問い合わせフォームになります。なお、返信・対応できない場合もございます。何卒、ご了承ください。
          %p.footer-text--bold ご利用上の注意事項 
          %p.footer-text--padding ユーザーIDおよびパスワードの管理 : 1.ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。2.ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。3.ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。
          %p.footer-text--padding 禁止事項 : 1.法令または公序良俗に違反する行為 2.犯罪行為に関連する行為 3.本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為 4.開発者，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為 5.本サービスによって得られた情報を商業的に利用する行為 6.当社のサービスの運営を妨害するおそれのある行為 7.不正アクセスをし，またはこれを試みる行為 8.不正な目的を持って本サービスを利用する行為 9.本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為 10.その他，一般的に開発者が不適切と判断する行為
          %p.footer-text--padding 保証の否認および免責事項 : 1.本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません 2.本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。

        .footer-bar
          .footer-back