.wrapper
  .header-field
    = render 'book_reviews/header'

  .contents
    = render partial: 'user_left' , locals:{ user_reviews: @user_reviews}

    .main-wrap
      .main-column
        = render 'user_search' 
        = render 'user_contents'  
        = render 'detail_pop'
        = render 'edit_pop'


    = render partial: 'book_reviews/right_contents', locals:{ book_review: @ranking_reviews}

  .footer
    = link_to "/", class:"footlink" do
      %p.footmessage 初めての方へ　利用規約　アカウント停止のルール　お問い合わせ

  
-# scssはindex.scssと共通
-# - if current_user == @reviews.user_id