.main-wrap
  .main-column
    .search-field
      .title-search
        = form_tag( "/", method: :get ) do 
          = text_field :book, "", class: "books_search", name: "title", placeholder: '  本のタイトルでサーチ'
          .search-btn
            = submit_tag "検索", class: "books_btn"
      -# ここから下が楽天apiを表示するコード
    -# = form_tag("/books/new", method: :get) do
    .books-result-field     
      - if @books.present?
        - @books.each do |book|
          = form_tag("/books/new", method: :get) do
            .result-field
              .result-image
                %img{src: book['mediumImageUrl'], class: 'result-thumbnail'}
              .result-title
                = book.title 
                = hidden_field_tag :title, book.title
              .review-btn
                = submit_tag "レビューを書く", class: "review-sub"
                = hidden_field_tag :imag_url, book['mediumImageUrl']
                
              -# %input{ type: "submit", formaction: "/books/index"}
              -# %input{ name: "title", value: book.title , type: "hidden" } 
