.logpop-wrape
  .logpop-page
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
      = devise_error_messages!
      .logpop-input-field
        .logpop-input-field__label
          = f.label :email 
        .logpop-input-field__text
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "logpop-email"
      .logpop-input-field
        .logpop-input-field__label
          = f.label :password 
        .logpop-input-field__text
          = f.password_field :password, autocomplete: "current-password" 
        .logpop-btn-field
          = f.submit "ログイン" ,class: 'btn'
        .logpop-back-field
          = link_to "戻る", class: 'back-btn'
